---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

html {
  // Always visible scrollbar
  overflow-y: scroll;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1a1a1c;
  font: 1rem "Open Sans", sans-serif;
  color: #A9B7C6;
  margin: 0;
  padding: 0;
}

header {
  width:17rem;
  -webkit-font-smoothing:subpixel-antialiased;
  padding: 1rem;
  background-color: #383636;
  border-radius: 0.5em;
  float: none;
  position: static;
  align-self: flex-start;
}

section {
  width:32rem;
  padding: 1rem;
  background-color: #383636;
  border-radius: 0.5em;
  float: none;
  position: static;
}

.wrapper {
  padding: 3rem 0 1rem;
  display: flex;
  flex-direction: row;
  width:56rem;
  margin:0 auto;
  gap: 3rem;
}

.logo {
  height: 6rem;
  width: 6rem;
}

.title-box {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  gap: 1rem;
}

header h1 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color:#A9B7C6;
}

h2 {
  color:#A9B7C6;
}

h3, h4, h5, h6 {
  color:#A9B7C6;
}

a {
  color: #cbcbd9;
  font-weight: 600;
  transition: color 0.1s ease-in-out;
  text-decoration: none;
}

a:hover, a:focus {
  color:#454656;
  font-weight: 600;
}

a small {
  color:#777;
}

a:hover small {
  color:#777;
}

blockquote {
  border-left: rgb(36, 38, 42);
}

code, pre {
  color:#6cb4a0;
}

pre {
  background: rgb(36, 38, 42);
  border:1px solid rgb(28, 30, 33);
}

dt {
  color:#444;
}

th {
  color:#444;
}

kbd {
  background-color: #fafbfc;
  border: #c6cbd1;
  border-bottom-color: #959da5;
  box-shadow: #959da5;
  color: #444d56;
}

ul.downloads {
  background: #f4f4f4;
  border:1px solid #e0e0e0;
}

.downloads li {
  border-right:1px solid #e0e0e0;
}

.downloads a {
  color:#676767;
}

.downloads a:hover, .downloads a:focus {
  color:#675C5C;
}

.downloads ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
}

.downloads a strong {
  color:#222;
}

hr {
  background:#e5e5e5;
}

.highlight {
  background-color: rgb(19, 20, 24);
}

.spacer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.footer-svg {
  width: 1em;
  height: 1em;
}

footer {
  width: 100%;
  font-size: smaller;
  text-align: center;
  height: 2.2em;
  float: none;
  position: static;
  flex-shrink: 0;
}

footer a {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

footer a:hover {
  font-weight: bold;
}

footer p {
  margin: 0;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
}

.icon-container img {
  display: block;
  margin: 0 auto;
}

footer .icon-container {
  font-size: 1.2em;
}

@media print, screen and (max-width: 960px) {
  html {
    font-size: 18px;
  }

  header h1 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .logo {
    height: 4rem;
    width: 4rem;
  }

  div.wrapper {
    width:auto;
    margin:0;
    flex-direction: column;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    margin-bottom: 1rem;
  }

  section {
    border-width: 0;
    padding:1rem;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {

  body {
    word-wrap:break-word;
  }

  header {
    padding:0.5rem;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}