---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Over mij"
	pubDate={new Date('2021-09-24')}
	updatedDate={new Date('2023-12-27')}
>
	<p>My name is Tip ten Brink / Mijn naam is Tip ten Brink (Dutch below). I was born April 5th, 2000 in the city of Amsterdam, in my home country of the Netherlands. Today, I am a student at the Delft University of Technology (TU Delft), where I recently received my double BSc degree in Applied Mathematics and Applied Physics. Currently, I am pursuing my MSc in Computer Science. I also live in Delft.</p>

	<p>In 2003, I moved to Chicago, in the United States. I returned to the Netherlands in 2006, moving to Baarn. I only left Baarn when I started studying in 2018.</p>

	<p>The coronavirus pandemic caused me to incur some study delay. To still remain busy, I worked part-time as a Shopper (warehouse employee) at Picnic, an online supermarket. Since 2018 I have provided exam training (for final-year high school students) at Stichting Studiebegeleiding Leiden for multiple weekends per year.</p>

	<p>I like to spend my free time on many things. As can be gathered from the topics of this website, I am very interested in technology, politics, math, space, and any kind of other science. I love learning facts. I used to be active at the Jonge Democraten, the (independent) youth wing of D66, the main social-liberal party in the Netherlands.</p>

	<p>I also enjoy programming, reading and writing. The latter mostly involves worldbuilding, details of which I like to share occasionally. I enjoy watching many kinds of sports and personally also like cycling. I occasionally run as well. I love watching movies and I like my TV shows too, maybe I'll share some tips one day. I also play sports, I am active at the Delft track and field student association, D.S.A.V. Dodeka.</p>

	<hr>

	<p>Mijn naam is Tip ten Brink. Ik ben geboren op 5 April, 2000 in Amsterdam. Recent heb ik mijn dubbele Bachelor Technische Wiskunde & Natuurkunde behaalt aan de Technische Universiteit Delft (TU Delft). Ik volg daar nu de Masteropleiding Computer Science. Ik woon ook in Delft.</p>

	<p>In 2003 verhuisde ik naar Chicago in de Verenigde Staten. Ik keerde terug naar Nederland in 2006 en verhuisde naar Baarn. Ik verliet Baarn pas toen ik ging studeren in 2018.</p>

	<p>Corona heeft me aanzienlijke studievertraging doen oplopen. Om toch nog bezig te zijn, werkte ik part-time als Shopper (magazijnmedewerker) bij Picnic, een online supermarkt. Ook geef ik sinds 2018 meerdere weekenden per jaar examentraining aan 5-havo en 6-vwo bij de Stichting Studiebegeleiding Leiden (SSL).</p>

	<p>Ik houd ervan om mijn vrije tijd aan veel verschillende dingen te besteden. Zoals men kan zien op basis van de onderwerpen van deze website, ben ik erg geïnteresseerd in tech, politiek, wiskunde, ruimtevaart, en veel andere wetenschappelijke onderwerpen. Ik houd ervan om feiten te leren. Ik was ook actief bij de Jonge Democraten, de (onafhankelijke) jongerenvleugel van D66.</p>

	<p>Ook geniet ik van programmeren, lezen en schrijven. Met het laatste bedoel ik vooral worldbuilden, waarover ik af en toe iets zal delen. Ook kijk ik graag sport en doe persoonlijk ook aan fietsen. Soms doe ik ook aan hardlopen. Ik ben ook groot fan van films en series, misschien geef ik ooit nog wat aanbevelingen. Ik doe ook aan sport, ik ben actief lid bij de Defltse atletiekvereniging, D.S.A.V. Dodeka.</p>
</Layout>
