---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welkom!</h1>
			<p>
				Bekijk mijn <a href="/blog">blog</a> of lees wat <a href="/about">over mij</a>.
			</p>
			<p>
				Take a lok at my <a href="/blog">blog</a> or read something <a href="/about">about me</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
